---
language: python
python: "2.7"
env:
  matrix:
    - OWN_TMP=true EXPECTED_TMP_OWNER=deploy
    - OWN_TMP=false EXPECTED_TMP_OWNER=root
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq python-apt python-pycurl aptitude python-software-properties
 - sudo add-apt-repository ppa:duggan/bats --yes
 - sudo apt-get update -qq
 - sudo apt-get install -qq bats
install:
  # Install Ansible.
  - pip install ansible==1.6.6

  # Add ansible.cfg to pick up roles path.
  - "printf '[defaults]\nroles_path = ../' > ansible.cfg"
script:
  # Check the role/playbook's syntax.
  - ansible-playbook --syntax-check -i tests/inventory tests/test.yml

  # Run the role/playbook with ansible-playbook.
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo --extra-vars "take_ownership_of_tmp=$OWN_TMP"

  # Run the role/playbook again, checking to make sure it's idempotent.
  - >
    ansible-playbook -i tests/inventory tests/test.yml --connection=local --sudo --extra-vars "take_ownership_of_tmp=$OWN_TMP"
    | grep -q 'changed=0.*failed=0'
    && (echo 'Idempotence test: pass' && exit 0)
    || (echo 'Idempotence test: fail' && exit 1)

  # Run the test suite
  - EXPECTED_USER=deploy EXPECTED_GROUP=deploy bats tests/tests.bats
